@model ViscocityDestructorBlogSite.Models.Post
@{
    ViewBag.Title = "SavePost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row jumbotron center-block">
    <div class=" col-md-8 panel panel-primary">
        <h2 class="panel-heading" style="background-color: #FC5555">Create Your Article Here</h2><br />
        <form class="row form-horizontal center-block" id="myForm" method="POST" action="SavePost">

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="Title" id="Title" placeholder="Title of the article">
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label col-sm-2" })
                <div class="col-sm-10">
                    <textarea class="ckeditor" cols="20" id="Description" name="Description" rows="30"></textarea>
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            @*<div class="form-group">
                    <label for="imageInput" class="col-sm-2 control-label">Image input</label>
                    <div class="col-sm-10">
                        <input type="file" name="image" id="image">
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" name="save" id="save" class="btn btn-info">Save</button>
                    <button type="submit" name="saveAndPublish" id="saveAndPublish" class="btn btn-info">Save & Publish</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-offset-9">
        <h2>Windows Cortana</h2>
        <p>Cortana is your clever new personal assistant, and she can search the web, find things on your PC, keep track of your calendar—even tell you jokes. We're not saying she'll pass the Turing test, but the more she helps you out, and the more she learns about you, the better she gets.</p>
        <p>
            <a class="btn btn-default" href="http://windows.microsoft.com/en-us/windows/preview-cortana">Load more &raquo;</a>
        </p>
    </div>
</div>
