@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<div class="jumbotron center-block">
    <address>
        Viscosity Destructor<br />
        FTFL 2, BCC Bhaban, Dhaka<br />
        <abbr title="Phone">P:</abbr>
        255.255.255.0
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:viscositydestructor@ftfl.com">Viscosity@mail.com</a><br />
    </address>
</div>